<div class="projects-table-container">
    <h2>Display projects</h2>
    <br>
    <button (click)="navigateToAddProject()" class="add-button">Add Project</button>
    <br>
    <br>
  
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search by project name or description" (input)="filterProjects()">
  
    <select [(ngModel)]="selectedStatus" (change)="filterProjects()">
      <option value="">By Status</option>
      <option value="ON_GOING">On Going</option>
      <option value="COMPLETED">Completed</option>
      <option value="DELAYED">Delayed</option>
    </select>
  
    <br><br>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of filteredProjects">
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.startDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ project.endDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ project.status }}</td>
          <td>
            <button class="view-button" (click)="viewProjectDetails(project.idProject)" *ngIf="project.idProject !== undefined">View Details</button>
            <button class="delete-button" (click)="deleteProject(project.idProject)" *ngIf="project.idProject !== undefined">Delete</button>
  
          </td>
        </tr>
      </tbody>
    </table>
  </div>  