.map-page-container {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .map-page-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .map-page-container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }
  
  .map-actions {
    margin-top: 20px;
  }
  
  .clear-markers-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .clear-markers-btn:hover {
    background-color: #0056b3;
  }
  

  .btn-dashboard {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Adds space above the button */
    width: auto; /* Adjust width based on content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
  }