<button class="toggle-btn" (click)="toggleSidebar()">☰</button>

<div class="sidebar" [class.visible]="isVisible">
  <h2 class="menu-title">Menu</h2>
  <ul>
    
    <li *ngIf="isAdmin"><a routerLink="/roles">⚙️ Users</a></li>
    
    <li>
      <a (click)="navigateToProfile()">👤 Profile</a>
    </li>
    <li><a routerLink="/gantt"> 📆 Planning</a></li>
    <li *ngIf="isAdmin">
      <a routerLink="/dash">
        <i class="fas fa-chart-pie"></i> Charts
      </a>
    </li>
    <li (click)="toggleProjectMenu()" [class.active]="isProjectMenuOpen">
      <a href="javascript:void(0)">📝 Project ▾</a>
      <ul class="submenu" [class.show]="isProjectMenuOpen">
        <li><a routerLink="/project">📄 Management</a></li>
        <li><a routerLink="/stats">📊 Stats</a></li>
        <li><a routerLink="/map">🗺️ Map</a></li>
        <li><a routerLink="/predict">🔮 Predict Risk</a></li>
      </ul>
    </li>

    <li *ngIf="isAdmin">
      <a routerLink="/camera">
        <i class="fas fa-shield-alt"></i> Safety Check
      </a>
    </li>
    <li><a routerLink="/facture">💸 Factures</a></li>
    <li><a routerLink="/suppliers">📦 Suppliers</a></li>
    <li><a routerLink="/listHr"><i class="fas fa-users"></i> Human Resources</a></li>
    <li><a routerLink="/matlist"><i class=" fas fa-wrench"></i> Material Resources</a></li>
    <li (click)="toggleProjectMenu()" [class.active]="isProjectMenuOpen">
      <a href="javascript:void(0)">📋 Livrablest ▾</a>


    
      <li><a routerLink="add-livrable">Add Livrable</a></li>
      <li><a routerLink="/liv-per-proj">Livrable List 📋</a></li>
      <li><a routerLink="/livrables">All Livrables 📚</a></li>
      <li><a routerLink="/stats">Statistics 🔍📊  </a></li>
      <li><a routerLink="/livrable-prediction">Livrable Prediction 🔮</a></li>
      
    </ul>

    
    

 
</div>